html {
    touch-action: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    touch-action: none;
    font-family: Arial, sans-serif; /* Добавлен шрифт для улучшения читаемости */
    background-color: #f0f0f0; /* Изменён фон для всего документа */
}

#workspace {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(226, 226, 226);
    overflow: hidden;
    border: 2px solid #ccc; /* Добавлена рамка вокруг рабочего пространства */
}

.target {
    position: absolute;
    border: 2px dashed black; /* Изменена рамка на пунктирную для лучшего визуального восприятия */
    background-color: rgba(255, 0, 0, 0.7); /* Сделан цвет фона полупрозрачным */
    box-sizing: border-box;
    border-radius: 4px; /* Добавлен радиус скругления углов */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход цвета и трансформации */
}

/* Эффект при наведении на элемент */
.target:hover {
    background-color: rgba(255, 0, 0, 1); /* Изменение цвета при наведении */
    transform: scale(1.05); /* Увеличение элемента при наведении */
}